<h1>Vos reservations</h1>
<h2>Nom</h2>
<p><%= @pokemon.name%></p>
<h2>Durée de la reservation</h2>
<p>Du <%= @booking.start_date %> au <%= @booking.end_date %></p>
<h2>Prix </h2>
<p><%= @booking.total_price %></p>
