<div class="footer">
  <div class="footer-links">

    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>

  </div>
  <div class="footer-copyright">
    Les pokemons vous aiment <i class="fas fa-heart"></i>
  </div>
</div>
