.animate {
  animation: slide 5s infinite ease-in-out;

}

@keyframes slide {
  from {
    transform:translateX(50px);
  }

  50% {
    transform:translateX(-75px);

  }

  to {
    transform:translateX(50px);
  }
}
