<div class="home-bg radial-linear d-flex justify-content-center ">
  <%= link_to "Trouve ton PokePartner", pokemons_path, class: "position-absolute btn btn-outline-primary btn-lg rounded-pill", style: "top: 30%;" %>
</div>
